@charset "UTF-8";
/*
BOOTSTRAP CUSTOMISATIONS
https://gist.github.com/anonymous/bc807b05ae385f8e9743
http://getbootstrap.com/customize/?id=bc807b05ae385f8e9743
*/

body {
  background-color: #f5f5f5;
  line-height: 1.8;
}

h2, h3 {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 60px;
}

h4 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

header, section, footer {
  padding: 40px 0;
}

h3, header, #about, #video, #register, #form, #thanks, footer {
  text-align: center;
}

#quotes, #video, footer {
  background-color: #fff;
}

header .container, #quotes .container {
  max-width: 650px;
}

header {
  background-color: #222;
  color: #fff;
  padding-bottom: 0;
}

header h1 {
  margin-bottom: 40px;
  margin-top: 0;
}

header h2 {
  margin-bottom: 10px;
}

header p {
  color: #a7a7a7;
  margin-bottom: 40px;
}

#quotes .carousel-indicators li {
  border: 1px solid #333;
}

#quotes .carousel-indicators .active {
  background-color: #333;
}

#quotes .item {
  min-height: 380px;
}

#about p {
  margin: 20px 0;
}

#video .container {
  max-width: 853px;
}

#register iframe {
  border: none;
  max-width: 100%;
  overflow: hidden;
}